
<div th:fragment="navbar-auth" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar">
        <span class="hamburger-btn material-symbols-rounded">menu</span>
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="logo">
            <h2>Self project</h2>
        </a>
        <ul class="links">
            <span class="close-btn material-symbols-rounded">close</span>
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
        <a class="login-btn btn-info" th:href="@{/login}" sec:authorize="!isAuthenticated()" style="text-decoration: none;">LOG IN</a>
        <div class="dropdown show" sec:authorize="isAuthenticated()">
            <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>


<!--        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">-->
<!--            <button type="submit" class="logout-btn" style="margin: 0">LOG OUT</button>-->
<!--        </form>-->

    </nav>

    <div class="blur-bg-overlay"></div>
<!--    <div class="form-popup">-->
<!--        <span class="close-btn material-symbols-rounded">close</span>-->
<!--        <div class="form-box login">-->
<!--            <div class="form-details">-->
<!--                <h2>Welcome Back</h2>-->
<!--                <p>Please log in using your personal information to stay connected with us.</p>-->
<!--            </div>-->
<!--            <div class="form-content">-->
<!--                <h2>LOGIN</h2>-->

<!--                <form th:action="@{/login}" method="post">-->
<!--                    <div class="input-field">-->
<!--                        <input type="text" name="username" required>-->
<!--                        <label>Email</label>-->
<!--                    </div>-->
<!--                    <div class="input-field">-->
<!--                        <input type="password" name="password" required>-->
<!--                        <label>Password</label>-->
<!--                    </div>-->
<!--                    <a href="#" class="forgot-pass-link">Forgot password?</a>-->
<!--                    <button type="submit">Log In</button>-->
<!--                </form>-->
<!--                <div class="bottom-link">-->
<!--                    Don't have an account?-->
<!--                    <a href="#" id="signup-link">Signup</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-box signup">-->
<!--            <div class="form-details">-->
<!--                <h2>Create Account</h2>-->
<!--                <p>To become a part of our community, please sign up using your personal information.</p>-->
<!--            </div>-->
<!--            <div class="form-content">-->
<!--                <h2>SIGNUP</h2>-->
<!--                <form th:action="@{/signup}" method="post">-->
<!--                    <div class="input-field">-->
<!--                        <input type="text" name="username" required>-->
<!--                        <label>Email</label>-->
<!--                    </div>-->
<!--                    <div class="input-field">-->
<!--                        <input type="password" name="password" required>-->
<!--                        <label>Password</label>-->
<!--                    </div>-->
<!--                    <div class="policy-text">-->
<!--                        <input type="checkbox" id="policy">-->
<!--                        <label for="policy">-->
<!--                            I agree to the-->
<!--                            <a href="#" class="option">Terms & Conditions</a>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <button type="submit">Sign Up</button>-->
<!--                </form>-->
<!--                <div class="bottom-link">-->
<!--                    Already have an account?-->
<!--                    <a href="#" id="login-link">Login</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
